.container {
    display: flex;
    flex-direction: row;
  }
  
  .left {
    flex: 0 0 60%; /* 60% width */
  }
  
  .right {
    flex: 0 0 30%; /* 40% width */
  }
  
  /* Add media queries for responsiveness */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack on small screens */
    }
  
    .left,
    .right {
      flex: 1; /* Take full width on small screens */
    }
  }
  #custom-table {
    border-collapse: separate;
    border-spacing:0px 10px; /* Gap between rows and between thead and tbody */
  }
  span { content: "\270F"; }

  